---
import Editor from "@components/editor.astro";
import Layout from "@layouts/main.astro";
---

<Layout title="vimwars">
	<main>
        <h1>Vimwars</h1>
		<Editor />
	</main>
</Layout>

<style>
</style>
